.basket-receiving {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* margin-bottom: 200px; */
}

.basket-receiving__title {
  font-weight: 800;
  font-size: 1.125em;
}