.basket-empty {
  max-width: 660px;
  min-height: calc(100vh - 90px);
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Golos Text", sans-serif;
}

.basket-empty-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50%;
  margin-bottom: 49%;
}

.basket-empty__img {
  margin: 0px 0px 12px;
}

.basket-empty__title {
  font-size: 1.125em;
  font-weight: 800;
  color: #000;
  margin: 0px 0px 16px;
}

.basket-empty__message {
  font-weight: 500;
  max-width: 80%;
  text-align: center;
  line-height: 1.125em;
  margin: 0px 0px 32px;
}

.basket-empty__link {
  min-width: 75%;
  text-decoration: none;
}

.basket-empty__btn {
  min-width: 100%;
  font-size: 1.125em;
  font-weight: 800;
  padding: 9px 0px;
  border-radius: 0.6em;
  border: none;
  background-color: #5FD864;
  color: #fff;
}