.description-wrapper {
  padding: 0px 18px 30px;
  font-family: "Golos Text", sans-serif;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.description__title {
  font-size: 1.25em;
  font-weight: 700;
}

.description__text {
  font-size: 0.75em;
  font-weight: 500;
  text-align: justify;
  line-height: 1.4em;
}