.wifi-popup-enter-active,
.wifi-popup-leave-active {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.wifi-popup-enter-from,
.wifi-popup-leave-to {
  opacity: 0;
}

.wifi-popup-container {
  min-height: 100%;
  min-width: 100vw;
  position: absolute;
  top: 0;
  font-family: "Golos Text", sans-serif;
  font-size: 1em;
  z-index: 999;
}

.wifi-popup_opacity {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100%;
  min-width: 100vw;
  z-index: 998;
  background: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.wifi-popup-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  min-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 15px;
}

.wifi-popup {
  background-color: #fff;
  border-radius: 0.6em;
  padding: 25px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 630px;
}

.wifi-popup__title {
  font-size: 1em;
  font-weight: 700;
}

.wifi-popup__wifi-pass {
  background-color: #ededed;
  padding: 8px 10px;
  border-radius: 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wifi-pass__text {
  font-size: 0.825em;
  font-weight: 500;
  background-color: #ededed;
  border: none;
  font-family: "Golos Text", sans-serif;
}