.basket-dish-add-more {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  gap: 10px;
  align-items: center;
  font-family: 'Golos Text', sans-serif;
  cursor: pointer;
}

.basket-dish-add-more-link:visited,
.basket-dish-add-more-link:active,
.basket-dish-add-more-link:link,
.basket-dish-add-more-link:hover {
  color: #000;
  text-decoration: none;
}

.basket-dish-add-more__picture-rep {
  min-width: 64px;
  min-height: 64px;
  border-radius: 0.6em;
  background-color: #bfeac1;
  position: relative;
}

.basket-dish-add-more__line-horizontal {
  min-width: 25%;
  min-height: 4%;
  background-color: #5fd864;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.basket-dish-add-more__line-vertical {
  min-width: 4%;
  min-height: 25%;
  background-color: #5fd864;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.basket-dish-add-more__title {
  font-size: 0.825em;
  font-weight: 700;
  text-decoration: none;
}
