.popup-dish-enter-active,
.popup-dish-leave-active {
  transition: opacity 0.5s ease;
}

.popup-dish-enter-from,
.popup-dish-leave-to {
  opacity: 0;
}

/* баскет нач */

/* баскет кон */

.card-dish-wrapper {
  // max-width: 100%;
  /* max-height: 250px; */
  display: grid;
  grid-template-columns: repeat(2, 49%);
  /* grid-template-rows: repeat(2, max(250px)); */
  gap: 7px;
  position: relative;
}

.card-dish {
  /* padding: 3px; */
  font-family: 'Golos Text', sans-serif;
  background-color: rgba(229, 231, 235, 0.5);
  border-radius: 1em;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 234px;
  // width: 11.6875em;
  // max-width: 187px;
  // max-width: calc(187px - 100%);
}

.card-dish__img-wrapper {
  position: relative;
  max-width: 100%;
}

.card-dish__img-dish_in-basket {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-color: #939393;
  opacity: 0.5;
  display: block;
  border-radius: 1em 1em 0em 0em;
  /* display: none; */
  transition: opacity 0.4s ease;
}

.card-dish__img-amount-dish-wrapper {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 700;
}

.card-dish__img-amount-dish {
  font-size: 2em;
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.card-dish__img {
  max-width: 100%;
  max-height: 7.5em;
  mix-blend-mode: darken;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  margin: 0px auto;
}

.card-dish__content {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 100%;
  flex: 4;
  // max-height: 100%;
}

/* .card-dish__text-wrapper {
  flex: 4;
} */

.card-dish-text__title {
  font-size: 0.875em;
  font-weight: 900;
  padding: 0px 0px 5px;
  // margin: 8px 0px 5px;
  justify-content: flex-start;
  /* max-width: fit-content; */
}

.card-dish-text__paragraph {
  font-size: 0.75em;
  display: flex;
  font-weight: 500;
  color: rgba(164, 162, 183, 1);
  // padding: 0px 0px 5px;
  // margin: 0px 0px 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0px 0px 8px;
}

.card-dish__price {
  padding: 8px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 0.7em;
  flex: 1;
  max-width: 100%;

  transition: color 0.4s ease;
  transition: background-color 0.4s ease;
}

.card-dish__price-text {
  font-weight: 500;
}

.card-dish__price-btn {
  background-color: transparent;
  border: transparent;
  min-width: 24px;
  min-height: 24px;
  font-weight: 500;
  font-size: 1.5em;
  color: inherit;
}

.minus_in-active {
  opacity: 0;
  transition: color 0.4s ease;
}

.minus_active {
  opacity: 1;
  position: relative;
  border: transparent;
  min-width: 24px;
  min-height: 24px;
  z-index: 99;
  color: inherit;
  transition: color 0.4s ease;
}

.add_active {
  background-color: #000;
  color: #fff;
}
