.info-page {
  max-width: 660px;
  margin: 0px auto;
  padding: 10px 18px;
  font-family: 'Golos Text', sans-serif;
}

.info-page-navigation__title {
  font-weight: 900;
  font-size: 1.125em;
  width: fit-content;
  margin: 0px auto;
}

.info-page-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info-page-description {
  margin: 25px 0px 0px;
}

.info-page-description__title {
  font-size: 1.125em;
  font-weight: 800;
  margin: 0px 0px 15px;
}

.info-page-description__paragraph {
  font-size: 0.875em;
  font-weight: 500;
  line-height: 1em;
  overflow: hidden;
}

.info-page-description__paragraph_hidden {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.info-page__more-btn {
  min-width: 100%;
  font-size: 1.125em;
  font-weight: 600;
  background-color: #f1f2f7;
  text-align: center;
  padding: 10px 0px;
  border: none;
  border-radius: 0.4em;
  margin: 10px 0px 0px;
}

.info-page-opening-hours {
  margin: 30px 0px 0px;
}

.info-page-opening-hours__title {
  font-size: 1.125em;
  font-weight: 800;
  margin: 0px 0px 5px;
}

.info-page-opening-hours-list {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.info-page-opening-hours-list-day {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid rgba(241, 242, 247, 1);
  padding: 13px 0px;
}

.list-day-name-hours-wrapper,
.list-day-break-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list-day-break-wrapper {
  align-items: flex-end;
}

.list-day__name,
.list-day__break {
  font-weight: 500;
}

.list-day__hours,
.list-day__break-value {
  font-size: 0.875em;
  font-weight: 500;
  color: rgba(164, 162, 183, 1);
}

.info-page-phone-number {
  margin: 25px 0px 35px;
}

.info-page-phone-number__title {
  font-size: 1.125em;
  font-weight: 800;
  margin: 0px 0px 15px;
}

.info-page-phone-number__number {
  font-weight: 600;
  color: rgba(82, 110, 211);
  text-decoration: none;
}