.widget-wrapper{
  padding: 20px 18px 20px;
  font-family: "Golos Text", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.widget{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #EDEDED;
  padding: 12px;
  border-radius: .625em;
  cursor: pointer;
  min-height: 24px;
}

.widget:first-child {
  background-color: #A6CE38;
}

.widget-content-wrapper{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.widget__text{
  font-size: .875em;
  font-weight: 500;
}
