.order-details-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 660px;
  margin: 0px auto;
  padding: 10px 18px;
  box-sizing: border-box;
  font-family: 'Golos Text', sans-serif;
  padding-bottom: 30px;
}

.order-details-navigation__title {
  font-weight: 900;
  font-size: 1.125em;
  width: fit-content;
  margin: 0px auto;
}

main {
  max-width: 660px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: border-box;
  font-family: 'Golos Text', sans-serif;
  padding-top: 20px;
  min-height: calc(100vh - 110px);
}

.order-details{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.order-details-content-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-detail-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
}

.order-detail-content-dishes{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-details-content__title {
  font-size: 1em;
  font-weight: 700;
}

.order-details-content__name-detail {
  font-size: 0.825em;
  font-weight: 500;
}

.order-details-content__value-detail {
  font-size: 0.825em;
  font-weight: 700;
}
